<div class="flex gap-1.5" aria-hidden="true">
  <span class="h-3 w-3 rounded-full border border-red-500/50 bg-red-500/20"
  ></span>
  <span
    class="h-3 w-3 rounded-full border border-yellow-500/50 bg-yellow-500/20"
  ></span>
  <span class="h-3 w-3 rounded-full border border-green-500/50 bg-green-500/20"
  ></span>
</div>
